.login-container label {
  margin-right: 10px;
}

.login-container {
  text-align: center;
  margin-top: 20px;
}

.ptoClass {
  float: left;
}

.clear {
  clear: both;
}

.ptoSubmit {
  margin-top: 25px;
}

#pto-datatable {
  width: 50%;
  margin-top: 20px;
  overflow: auto;
}

.fields {
  margin: 15px;
}

#login-panel .wf2-panel-close-button {
  display: none;
}

.taskDetailHeaderContainer,
.taskDetailContainer {
  display: table-row;
}

.taskDetailHeaderContainer span {
  font-weight: bold;
}

.taskContainer,
.hoursContainer,
.removeButtonContainer {
  display: table-cell;
  padding: 0 10px;
}

.wf2-skin-nx div.yui3-widget-mask {
  opacity: 1;
  background: #d3d3d3;
}
